.info-cards {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 2rem 0;
  flex-wrap: wrap;
  margin-bottom: 200px;
}

.info-card {
  background-color: #111;
  color: #ccc;
  padding: 1.5rem 2rem;
  border-radius: 12px;
  max-width: 280px;
  text-align: center;
  font-size: 1rem;
  line-height: 1.5;
  box-shadow: 0 0 8px rgba(0, 191, 255, 0.1);
  transition: box-shadow 0.3s ease;
  cursor: default;
}

.info-card:hover {
  box-shadow: 0 0 20px #ffff;
}

.info-card .icon {
  font-size: 2rem;
  color: #00bfff;
  margin-bottom: 1rem;
}

.info-card p .highlight {
  color: #00bfff;
}

.info-card strong {
  color: white;
}
