/* Recursos.css */
.codigo-container {
  width: 100%;
  gap: 4rem;
  margin-bottom: 140px;
  color: #eee;
}

.Codigo-request h1,
.Codigo-response h1 {
  font-size: 1.8rem;
  margin-top: 80px;
  color: #fff;
}

/* Linha separadora entre Request e Response */
.codigo-separator {
  width: 100%;
  height: 2px; /* espessura da linha */
  background-color: #2a2c30; /* cor da linha, pode trocar */
  margin: 2rem 0;
}

.codigo-json {
  flex: 1;
  width: 100%;
  border-radius: 10px;
  font-family: monospace;
  font-size: 0.95rem;
  color: #fff;
  overflow-x: auto;
}

p {
  font-size: 16px;
  color: #fff;
}

.p span {
  background-color: #fff;
  padding: 6px;
  border-radius: 6px;
  color: #000;
  transition: background-color 0.3s, color 0.3s;
}

.p span:hover {
  background-color: #000;
  padding: 6px;
  border-radius: 6px;
  color: #fff;
}

